body {
  --text: #fff;
  --bg-main: #121212;
  --bg-secondary: #202020;
  --active: #fbc117;
  --space: 5px;
  --dark-grey: #767676;
  --light-grey: #c3c3c3;
}

body {
  padding-left: 30px;
  margin: auto;
  font-family: sans;
  background-color: var(--bg-main);
  color: var(--text);
  overflow-x: hidden
}

div[class="row"] {
}

input[type="text"],
select {
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;
  border-style: solid;
  border-color: #767676;
  color: var(--text);
  font-size: 16px;
  padding: 8px;
  background-color: var(--bg-secondary);
  border: none;
  margin: 0;
  width: 200px;
  border-radius: 3px;
}

a {
  color: var(--active);
}

textarea {
  border: 0px;
  background: var(--bg-secondary);
}


button {
  text-align: center;
  color: var(--text);
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.1s;
  background-color: var(--bg-secondary);
  border: none;
  margin: 7.5px 0;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  color: var(--active);
}


button-inline {

}

button.default {
  margin-left: 30px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  width: 34px;
  height: 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.add {

}
