body {
  --text: #fff;
  --bg-main: #121212;
  --bg-secondary: #202020;
  --active: #fbc117;
}

body {
  margin: auto;
  padding: 0;
  font-family: 'Inter';
  background-color: var(--bg-main);
  color: var(--text);
  overflow-x: hidden
}

body.option {
  display: flex;
  align-items: flex-start;
  padding: 40px;
}

/* \25BE */

button {
  color: var(--text);
  font-size: 16px;
  font-weight: light;
  margin: 5px 0px;
  cursor: pointer;
  transition-duration: 0.1s;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  border: none;
  text-decoration: none;
}

button:hover {
  color: var(--active);
}
